// colors

$primary: #021725; // blue
$color-2: #e36767; // red
$color-3: #fff; // white
$white: #fff; // white
$background: #fffae3; // white

// fonts

$primary-font: "Source Sans Pro", sans-serif;

//header height

$header-height-S: 55px;
$header-height-M: 80px;

// z-index

$content-zindex: 998;
$nav-zindex: 999;
$header-zindex: 1000;
